/***************************************************************
MAIN - CSS
***************************************************************/

* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/black-textile-pattern.jpg");
}

.topHeader {
	width:100%;
	padding:0px;
}

.navbar-default {
	background:white;
	border:0px;
	margin-bottom:0px;
	border-radius:0px;
}

h1, h2, h3 {
	font-family: Georgia;
	font-weight: bold
}

h2, h3 {
	color:#38857f;
	border-bottom: 2px solid #ccc;
}

h1 {
	color:#fff;
	background:#4aa8a2;
	float:left;
	margin:0px;
	padding:5px 20px;
	text-align:center;
}

h2 {
	margin-bottom:20px;
	padding-bottom:20px;
}

h3 {
	padding-bottom:27px;
}

#mainBody {
	min-height:90vh;
	padding-bottom:120px;
}

#bodyLeft {
	border-radius: 4px;
	border: 1px solid #aaa;
	background-color: #fff;
	margin-top:20px;
}

#bodyLeft:hover, #bodyRight:hover {
	-webkit-box-shadow: 0px 0px 15px #fff;
	-moz-box-shadow: 0px 0px 15px #fff;
	box-shadow: 0px 0px 15px #fff;
}

.profilePic {
	margin-right: 20px;
	border-radius: 5px;
	width:200px;
}

.bodyText {
	font-family: Arial;
	line-height: 1.7;
	color:#444;
	margin-bottom:20px;
}

#bodyRight{
	text-align: center;
	border-radius: 4px;
	border: 1px solid #aaa;
	background-color: #fff;
	margin-top:20px;
	padding-bottom:20px;
}

.socialIcons {
	width:28%;
	margin:1.5%;
	border: 1px solid #ccc;
	border-radius:20%;
	background: white;
}

.socialIcons:hover {
	background:#4aa8a2;
	border: 2px solid #ccc;
	width:35%;
	margin: -3.5%;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
}

footer {
	letter-spacing: 1px;
	color:#ddd;
	position: fixed;
	left: 0px;
	bottom: 0px;
	width:100%;
	text-align:center;
	padding:22px;
	-webkit-column-rule: #eee;
	-moz-column-rule: #eee;
	-o-column-rule: #eee;
	column-rule: #eee;
	font-size:14px;
	background:#666;
	border-top:7px solid #4aa8a2;
}

.clearfix {
	clear:both;
}

/***************************************************************
CONTACT - CSS
***************************************************************/

#contactForm > label {
	display:block;
	margin-top:10px;
	color:#333;
}

.textInput {
	width:100%;
	border: 1px solid #bbb;
	padding:5px;
	color:#666;
}

#contactForm > textarea {
	border: 1px solid #bbb;
	width:100%;
	height:130px;
	padding:5px;
	font-family: Arial;
	font-size:14px;
}

.submitButton {
	color:#eee;
	padding:8px 20px;
	background: #4aa8a2;
	border: #3aa8a2;
	margin: 12px 0;
}

/***************************************************************
PORTFOLIO - CSS
***************************************************************/

.project {
	margin:0px 0px 20px 0px;
	position:relative;
	display:block;
}

.project > img {
	width:100%;
	opacity: .9;
}

.projectLabel {
	position:absolute;
	bottom:6%;
	width:100%;
	text-align: center;
	padding:10px;
	background-color: #4aa8a2;
	font-size: 18px;
	color:#eee;
	font-weight: bold;
}

.project:hover {
	opacity: 1;
}

.socialIcons:hover, .project:hover{
	-webkit-box-shadow: 0px 0px 30px #000;
	-moz-box-shadow: 0px 0px 30px #000;
	box-shadow: 0px 0px 30px #000;	
}